layout {
    pane size=1 borderless=true{
        plugin location="file:~/.zellij-plugins/zjstatus.wasm" {
            format_left "#[fg=#cdd6f4]{session} {mode} {tabs}"

            format_space ""

            hide_frame_for_single_pane "true"

            mode_normal "#[fg=#cdd6f4] {name}"
            mode_locked "#[fg=#f38ba8] {name}"

            tab_normal "#[fg=#cdd6f4] {name}"
            tab_active "#[fg=#a6e3a1] {name}"
        }
    }
    pane split_direction="vertical" borderless=true {
        pane
        pane split_direction="horizontal" {
            pane
            pane
        }
        
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }

}
